@import '../variables';

.subtitle{
    &-container{
        max-width: $mainmaxwidth-1140;
        width: 100%;
        margin: 0 auto;

        .subtitle-block{
            a{
                img{
                    width: 80px;
                    height: 32px;
                }
            }
        }
    }
}