// text-color
$maintextcolor: #1d1d1f;
$secondtextcolor: #828282;
$activetextcolor: #5e8bce;
$navitemtextcolor: #bbbbbb;

// background-color
$activeElenment: #5e8bce;
$headerBackground: #2e2e2e;
$navBackground: #f1f1f1;
$productBckground: #f5f5f7;

// Width&height
$mainmaxwidth-1200: 1200px;
$mainmaxwidth-1140: 1140px;
$mainmaxwidth-992: 992px;
$mainmaxwidth-720: 720px;
$mainmaxwidth-576: 576px;